<div id="map-container">
  <div id="map">
  </div>
</div>
<div id="twitter-popup" class="hidden">
  <a class="twitter-timeline" href="https://twitter.com/search?q=%23ToscheStation" data-widget-id="462773089852334082">Tweets about "#ToscheStation"</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <%= image_tag('pointer.png', class: "pointer") %>
</div>
