<div id='welcome-box'>
	<div id='welcome'>
		<%= image_tag 'title.png', id: 'twitter' %>
		<!-- <h1>CHICAGO</h1>
		<h1>SPACE</h1>
		<h1>ODYSSEY</h1> -->
		<p>Explore the galaxy while exploring the city.</p>
		<%= link_to "Get Started", map_path, id: 'starting-button' %>
	</div>
	<div id="tutorial">
		<div class='step'>
			<p><h3>1. Plan your adventure</h3>
			Use the map to find exoplanets</p>
		</div>
		<div class='step'>
			<p><h3>2. Download the App</h3>
			Visit exoplanets to contribute</p>
		</div>
		<div class='step'>
			<p><h3>3. Interact</h3>
			View your unlocked locations</p>
		</div>
	</div>
</div>