<h1 class='pi-header'><%=@system.name %></h1>
<p><%= @system.description%></p>
<!-- <h2 class='pi-header small-header'>Cache</h2> -->
<ul class='collections'>
  <li>Cache</li>
  <% @this_location = @system.location %>
  <% if @this_location.collections.empty? %>
      <li>No one has added to this cache, yet!</li>
  <% else %>
      <% @this_location.collections.each do |cache| %>
          <li><%= cache.text %></li>
      <% end %>
  <% end %>
</ul>
