/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*For the nav bar -----------------*/
header {
  top: 0;
  height: 50px;
  width: 100%;
  background: url(banner.jpg);
  background-position:center;
  font-family: sans-serif;
}

.hashtag {
  line-height: 50px;
  color: white;
  float: right;
  margin-right: 10px;
}

.sign-in-out a {
  /*text-decoration: none;*/
  line-height: 50px;
  float: right;
  margin-right: 10px;
  color: white;
  vertical-align: middle;
}

.sign-in-out img {
  /*line-height: 50px;*/
  vertical-align: middle;
}
/*---------------------------------*/
