html, body {
  height: 100%;
  background: #e8e8e8;
}

.all-content {
  height: 100%;
}

.sidebar {
  width: 24%;
  height: 100%;
  max-width: 250px;
  min-width: 120px;
  border-right: 0.5px solid #474646;
  float: left;
}

.main-content {
  width: 74%;
  float: left;
}

.header {
  text-align: center;
}

.list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  border-bottom: 1px solid #474646;
  padding: 5px 10px;
  height: 50px;
  font-family: Helvetica;
  color: #9c9c9c;
}

.background {
  background: #262626;
}

.highlighter {
  background: #e8e8e8;
}