$light-grey: #e8e8e8
$dark-grey: #474646
$darker-grey: #262626
$teal: #37E2AD
$hel: 'Raleway', Helvetica, sans-serif
@mixin h100
  height: 100%

html,
body
  @include h100
  background: url(neb.png)
  background-color: rgba(0, 0, 0, 0.8)
  background-size: auto
  background-attachment: fixed

.all-content
  @include h100

.sidebar
  width: 24%
  @include h100
  max-width: 250px
  min-width: 120px
  border-right: 1px solid #191919
  background-color: rgba(40, 40, 40, 0.7)
  float: left

.main-content
  width: 75%
  margin-left: 5%
  font-family: $hel
  float: left

.header
  text-align: center

.list
  width: 100%
  list-style: none
  padding: 0
  margin: 0

.list-item
  border-bottom: 1px solid #191919
  padding: 40px 10px 0 10px
  height: 50px
  font-family: $hel
  color: #dedede

.background
  background-color: rgba(40, 40, 40, 0.1)

.highlighter
  background-color: rgba(40, 40, 40, 0.7)
  border-right: 5px solid $teal
  color: white

.unavailable
  position: relative
  text-align: center
  top: 25%
  color: white
  font-family: $hel